@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat+Alternates:ital,wght@0,400;0,700;1,500&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
mustard: #FFA952;
*/

@import "base";
@import "elements";
@import "footer";
@import "header";
@import "sections";
@import "type";

