@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat+Alternates:ital,wght@0,400;0,700;1,500&display=swap");
/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
mustard: #FFA952;
*/
a {
  text-decoration: none;
  color: #000000; }

body {
  margin: 0;
  padding: 0; }

html {
  margin: 0;
  padding: 0;
  font-size: 10px; }

li {
  list-style-type: none; }

button {
  border: 2px solid #000000;
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem 2rem; }
  button a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700; }

footer {
  background-color: #FFA952;
  color: #ffffff;
  padding: 10%; }
  footer h1 {
    color: #ffffff; }
  footer .footer-section {
    padding: 2rem 0 4rem 0; }
    footer .footer-section nav a {
      display: block;
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.4rem; }
  @media (min-width: 960px) {
    footer {
      padding: 0%;
      display: flex;
      justify-content: space-around; } }

.front {
  margin-top: 0; }
  .front h1 {
    color: #ffffff; }
  .front a {
    color: #ffffff; }

header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }
  header h1 {
    color: #FFA952;
    padding: 1rem 2rem;
    margin: 0; }
  header nav {
    padding: 2rem; }
    header nav a {
      color: #000000;
      font-size: 2.4rem;
      font-weight: 500;
      padding: 2rem; }

.section-one {
  background-image: url("images/hero-mobile.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  margin-top: -9rem;
  padding: 12rem 10% 8rem; }
  .section-one button {
    border: 2px solid #ffffff;
    background-color: white; }
    @media (min-width: 768px) {
      .section-one button a {
        font-size: 2.4rem; } }
  .section-one h2 {
    color: #ffffff; }
  .section-one p {
    color: #ffffff; }
  @media (min-width: 768px) {
    .section-one {
      background-image: url("images/hero.jpg"); } }
  @media (min-width: 1280px) {
    .section-one {
      padding: 9.5rem 0 17.5rem 50%; }
      .section-one h2 {
        padding-top: 40%; } }

.section-two {
  background-image: url("images/texture-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1rem 10% 19rem; }
  .section-two button {
    border: 2px solid #ffffff; }
    .section-two button a {
      color: #ffffff; }
  .section-two h2 {
    color: #ffffff; }
  .section-two p {
    color: #ffffff; }
  @media (min-width: 768px) {
    .section-two {
      padding: 5rem 10% 9rem; } }
  @media (min-width: 1280px) {
    .section-two {
      background-image: url("images/texture.jpg");
      padding: 8rem 10% 12rem; } }

.section-three .section-three__left {
  background-image: url("images/fit-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  width: 100%;
  padding: 12rem 10%;
  margin: 0; }
  @media (min-width: 1200px) {
    .section-three .section-three__left {
      background-image: url("images/fit.jpg"); } }

.section-three .section-three__right {
  padding: 4rem 10%; }
  .section-three .section-three__right button {
    margin-bottom: 6rem; }

@media (min-width: 768px) {
  .section-three {
    display: flex; }
    .section-three .section-three__left {
      width: 55%; }
    .section-three .section-three__right {
      width: 45%; } }

.shop {
  margin: 0 3rem; }
  .shop .filter__list__container {
    width: 315px;
    display: block;
    margin: 0 auto; }
    .shop .filter__list__container .filter__list {
      padding: 0; }
    @media (min-width: 820px) {
      .shop .filter__list__container {
        margin: 0; } }
  .shop .products__container .product {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 315px;
    margin: 0 1rem 2rem 1rem;
    display: block; }
    .shop .products__container .product .product__icons__container {
      display: block;
      margin: 0 auto;
      width: 220px; }
      .shop .products__container .product .product__icons__container .product__icon {
        margin: 2rem; }
  @media (min-width: 820px) {
    .shop .products__container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 675px;
      float: right;
      margin-top: 2rem; } }
  @media (min-width: 1200px) {
    .shop .products__container {
      max-width: 1025px; } }
  @media (min-width: 820px) {
    .shop {
      display: flex;
      justify-content: space-between; } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem; }

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 4.8rem; }

h2 {
  font-size: 3.6rem;
  margin-bottom: 0;
  font-weight: 700; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.6rem; } }
  @media (min-width: 1280px) {
    h2 {
      font-size: 4.8rem; } }

h3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.4rem; }

p {
  margin-top: 0.6rem; }

/*# sourceMappingURL=styles.css.map */