.front {
	margin-top: 0;
	
	h1 {
		color: #ffffff;
	}

	a {
		color: #ffffff;
	}
}

header {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;

	h1 {
		color: #FFA952;
		padding: 1rem 2rem;
		margin: 0;
	}

	nav {
		padding: 2rem;

		a {
			color: #000000;
			font-size: 2.4rem;
			font-weight: 500;
			padding: 2rem;
		}
	}
}