.section-one {
	background-image: url("images/hero.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -9rem;
	padding: 8rem 10% 2.5rem;

	button {
		border: 2px solid #ffffff;
		background-color: rgba(255, 255, 255, 1);

		a {

			@media (min-width: 768px) {
				font-size: 2.4rem;
			}
		}
	}

	h2 {
		color: #ffffff;
	}

	p {
		color: #ffffff;
	}

	@media (min-width: 1280px) {
		padding: 8rem 0 8% 50%;

		h2 {
			padding-top: 40%;
		}
	}
}

.section-two {
	background-image: url("images/texture.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 1rem 10%;

	button {
		border: 2px solid #ffffff;

		a {
			color: #ffffff;
		}
	}

	h2 {
		color: #ffffff;
	}

	p {
		color: #ffffff;
	}

	@media (min-width: 1280px) {
		padding: 8rem 10%;
	}
}

.section-three {

	.section-three__left {
		background-image: url("images/fit.jpg");
		background-repeat: no-repeat;
		width: 100%;
		padding: 3% 10%;
		margin: 0;
	}

	.section-three__right {
		padding-left: 10%;

		button {
			margin-bottom: 6rem;
		}
	}

	@media (min-width: 768px) {
		display: flex;

		.section-three__left {
			width: 55%;
		}

		.section-three__right {
			width: 45%;
		}
	}
}